<header> <!-- This is the header section of the web page -->
  <nav class="navbar"> <!-- Defines a navigation bar with a CSS class "navbar" -->
      <a href="/"> <!-- Creates a button to the home page -->
          <div class="brand-title">IoT Smart Watering</div> <!-- Displays the brand or site title -->
      </a>
      <a href="/" class="toggle-button"> <!-- Adds a toggle button for mobile navigation -->
          <span class="bar"></span> <!-- Three horizontal bars for the button -->
          <span class="bar"></span>
      </a>
      <div class="navbar-links"> <!-- Container for navigation links -->
          <ul> <!-- Unordered list for navigation items -->
              <li><a href="/underdevelopment">Control Irrigation</a></li> <!-- Link to control irrigation webpage -->
              <li><a href="/links">Useful External Pages</a></li> <!-- Link to external resources webpage -->
              <li><a href="/about">About</a></li> <!-- Link to the "About" page -->
          </ul>
      </div>
  </nav>
</header>