<header>
    <nav class="navbar">
        <a href="/"><div class="brand-title">IoT Smart Watering</div></a>
        <a href="/" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li>
              <div class="navbar">
                <div class="dropdown">
                  <button class="dropbtn">Data<i class="fa fa-caret-down"></i></button>
                  <div class="dropdown-content">
                    <a href="/weather">Weather</a>
                    <a href="/watertank">Water Tank Level</a>
                    <a href="/underdevelopment">Soil Moisture</a>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="/underdevelopment">Control Irrigation</a></li>
            <li><a href="/links">Useful External Pages</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>


</header>
