<menu>
    <ul>
      <li>Tip: Our Webiste has a lot of other links for you to explore. To do this, use the navbar.</li>
    </ul>
  </menu>

  <article>
    <h2>About Us</h2>
    <p>This website was coded using node js, html and arduino. The sensors we use are the DHT-11 and the HR-S04. These are used in conjuction with an ESP-32.</p>
    <table>
        <tr>
            <td class="1">
                <img src="assets/DHT-11-Image.png" alt="dht-11" height="200" width="200"/>
                <p>The DHT-11. This is a weather sensor that will provide both the temperature and humidity.</p>
            </td>

            <td class="t2">
                <img src="assets/ESP-32-Image.png" alt="esp-32" height="200" width="200"/>
                <p>The ESP-32. This is a microchip that we have used to send information to, and recieve information from, the sensors. This has integrated Wi-Fi and connects to our node application to provide real time data. </p>
            </td>

            <td class="t3">
                <img src="assets/ultrasonicSensorImage.png" alt="ultrasonic sensor" height="200" width="200"/>
                <p>The HR-SO4, an ultrasonic sensor that can be used in many situations. For us, it is used to calculate the how much water is left in a water tank.</p>
            </td>
        </tr>
    </table>
  </article>

  <aside>
    <ul>
      <li>
        <p><strong>Wrriten For:</strong> An IoT assessment</p>
      </li>

      <li>
        <p><strong><br />Writted and Coded By:</strong></p>
        <p>LD</p>
      </li>
    </ul>


</aside>