<menu>

  </menu>
  <article>
    <h2>Some Useful External Links and References Used</h2>
    <ul>
        <li><p><a href="https://en.wikipedia.org/wiki/ESP32">About the Esp-32</a></p></li>
        <li><p><a href="https://components101.com/sensors/dht11-temperature-sensor">About the DHT-11</a></p></li>
        <li><p><a href="https://components101.com/sensors/ultrasonic-sensor-working-pinout-datasheet">About the HR-S04</a></p></li>
        <li><p><a href="http://www.bom.gov.au/">Weather Forecasts</a></p></li>
        <li><p><a href="https://www.instructables.com/Ultrasonic-Water-Level-Indicator-Using-HC-SR04-Ard/">DHT-11 Code That Helped With Webpage</a></p></li>
        <li><p><a href="https://www.w3schools.com/">W3 Schools Helped with Bits of HTML, CSS and Node JS</a></p></li>
        <li><p><a href="https://www.w3schools.com/">W3 Schools Helped with Bits of HTML, CSS and Node JS</a></p></li>
        
    </ul>

    
  </article>
  <aside>
    
  </aside>