
 <menu></menu>
 <article>
    <h2>This section of the website is still under development. Come back soon.</h2>
    <p>This is not part of the assessment but highlights areas for future development</p>
  </article>
  <aside></aside>

