<menu>
    <h4>Categories:</h4>
    <ul>
      <li>&#x2022;<a href="#"><b> Irrigation</b></a></li>
      <li>&#x2022;<a href="#"><b> Data</b></a></li><br />
      <li>With our advanced sensors, coding and some IoT magic, you can control your irrigation based of the weather and how much water you have in your tank! Check out our other useful websites like the weather app that are listed above!</li>
    </ul>
  </menu>
  <article>
    <h2>IoT Smart Watering Systems</h2>
    <img src="assets/Water Tank.png" height="240" width="200" alt="article banner" class="center"/>
    <p><b>Current Capacity</b><br />Your water tank is at % of its maximum capacity.</p>
  </article>
  <aside>
    <ul>
      <li>
        <p><strong>Current Capacity:</strong></p>
      </li>
      <li>
        <p>Water Available: %<br /></p>
      </li>
      <li>
        <p><strong><br />Sensor Info:</strong></p>
      </li>
      <li>
        <p>Sensor:<br /></p>
        <p>Id: <br /></p> 
        <p>Hardware: <br /></p> 
        <p>Location: <br /></p>
      </li>
      <li>
        <p><strong><br />Writted and Coded By:</strong></p>
        <p>LD</p>
      </li>
    </ul>


  </aside>